<div class="outerpagewrap">
  <div class="pagewrap" style="background: #332822 url(http://novocoffee.com/wp-content/uploads/2013/07/hero_slim_contact52.jpg) no-repeat center center;">
    <div class="pagecontent">
      <div class="pagecontentContent">
        <h1>Contact + Locations</h1>
        <!-- <p></p> -->
      </div>
    </div>
  </div>
</div>
<div id="main" class="clearfix" style="margin-top: 0px;">
  <div id="mainwrap">
    <div class="pad"></div>
      <div class="content fullwidth">
        <h2>Thank you for contacting us!</h2>
        <p>Please enjoy browsing the rest of our site. We will get in touch with you shortly. Coffee on!</p>
      </div>
    </div>
  </div>
</div>
